{% assign care_items = product.metafields.printful.care %}
<div class="care">
  <h4>Care instructions</h4>
  {% if care_items.wash %}
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-wash.svg' | asset_url }}" alt="Wash" /></div>
    <span>{{ care_items.wash }}</span>
  </div>
  {% endif %}
  {% if care_items.tumble %}
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-tumble.svg' | asset_url }}" alt="Dry" /></div>
    <span>{{ care_items.tumble }}</span>
  </div>
  {% endif %}
  {% if care_items.iron %}
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-iron.svg' | asset_url }}" alt="Iron" /></div>
    <span>{{ care_items.iron }}</span>
  </div>
  {% endif %}
  {% if care_items.dryclean %}
  <div class="care__item">
    <div class="care__item-icon"><img src="{{ 'care-dryclean.svg' | asset_url }}" alt="Dry Clean" /></div>
    <span>{{ care_items.dryclean }}</span>
  </div>
  {% endif %}
</div>
