<!-- /templates/customers/account.liquid -->
{% section 'hero' %}
<section class="main">
  <div class="section-header">
    <h1>My account</h1>
    <a href="{{ routes.account_logout_url }}">Log out</a>
  </div>

  <div class="account">
    <div class="account__orders">
      <h2>Order history</h2>
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <table>
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th>
                    <a href="{{ order.customer_url }}">{{ order.name }}</a>
                  </th>
                  <td>{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
        {% comment %}
          // TODO: Allow browsing through pages
        {% endcomment %}
      {% endpaginate %}
    </div>
    <div class="account__customer">
      <h2>Account Details</h2>
      {{ customer.default_address | format_address }}
      {% comment %}
      // TODO: Allow management of addresses
      <p>
        <a href="{{ routes.account_addresses_url }}">View Addresses ({{ customer.addresses_count }})</a>
      </p>
      {% endcomment %}
    </div>
  </div>
</section>
