<!doctype html>
<html>
<head>
  <title>{{ shop.name }} &ndash; Opening Soon</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#1B172D">
  <link rel="canonical" href="{{ canonical_url }}">
  {{ content_for_header }}
  {{ 'normalize.css' | asset_url | stylesheet_tag }}
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
</head>
<body class="template-password">
  <div class="password-page">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary" aria-haspopup="dialog">
            Enter using password <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </header>

    <div class="password-main" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
</body>
</html>
