<section class="hero">
  <div class="hero__banner" style="background-image: url({{ settings.banner_image | img_url: '1366x' }}); background-position: {{ settings.banner_position }}; background-size: {{ settings.banner_size }};"></div>
  <div class="profile">
    <div class="profile__avatar">
      <img src="{{ settings.profile_image | img_url: '150x' }}" alt="{{ settings.creator_name }}" />
    </div>
    <div class="profile__details">
      <div class="profile__name">
        <span>{{ settings.creator_name }}</span>
        {%- if settings.is_partner == 'yes' -%}
        <img src="{{ 'verified-badge.svg' | asset_url }}" alt="Verified User" />
        {%- endif -%}
      </div>
      <div class="profile__stats">
        {%- if settings.channel_stats == 'yes' -%}
        {% assign followers = shop.metafields.creator_store.followers %}
        {% assign views = shop.metafields.creator_store.views %}
        <span>{%- if followers -%}{{ followers | times: 100 | money_without_currency | remove: '.00' }} followers{%- endif -%}</span>
        <span>{%- if views -%}{{ views | times: 100 | money_without_currency | remove: '.00' }} views{%- endif -%}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
