<section class="hero">
  <div class="hero__banner" style="background-image: url({{ settings.banner_image | img_url: '1366x' }}); background-position: {{ settings.banner_position }}; background-size: {{ settings.banner_size }};"></div>
  <div class="profile">
    <div class="profile__avatar">
      <img src="{{ settings.profile_image | img_url: '150x' }}" alt="{{ settings.creator_name }}" />
    </div>
    <div class="profile__details">
      <div class="profile__name">
        <span>{{ settings.creator_name }}</span>
        {%- if settings.is_partner == 'yes' -%}
        <img src="{{ 'verified-badge.svg' | asset_url }}" alt="Verified User" />
        {%- endif -%}
      </div>
      <div class="profile__stats">
        <span>69,915 followers</span>
        <span>5,870,824 views</span>
      </div>
    </div>
  </div>
</section>
