<div class="password-content">
  {% unless shop.password_message == blank %}
    <div class="password-messaage">
      {{ shop.password_message }}
    </div>
  {% endunless %}
</div>

{% if section.settings.newsletter_enable %}
  <div class="password-content password-content--rte">
    <h4>
      {{ section.settings.newsletter_form_heading | escape }}
    </h4>
    {% if section.settings.newletter_form_subheading != blank %}
      <div class="password__form-subheading rte">
        {{ section.settings.newsletter_form_subheading }}
      </div>
    {% endif %}
  </div>
  {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email" class="label-hidden">Email<label>
    
    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--succes" tabindex="-1" data-form-status>
        We will send you an email right before we open!
      </p>
    {%- endif -%}

    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
      <input
        type="email"
        name="contact[email]"
        id="{{ formId }}-email"
        class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
        placeholder="{{ section.settings.newsletter_placeholder }}"
      >
      <span class="input-group__btn">
        <button type="submit" name="commit" class="btn">
          <span>{{ section.settings.newsletter_button_text }}</span>
        </button>
      </span>
    </div>
    {% if form.errors contains 'email' %}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <span class="visually-hidden">Error</span>
        <span>{{ form.errors.translated_fields['email'] | capitalize}} {{ form.errors.messages['email'] }}.</span>
      </span>
    {% endif %}
  {% endform %}
{% endif %}

{% schema %}
{
  "name": {
    "en": "Content"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "en": "Show newsletter signup"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "en": "Newsletter form heading"
      },
      "default": {
        "en": "Be the first to know when we launch."
      }
    },
    {
      "type": "text",
      "id": "newsletter_form_subheading",
      "label": {
        "en": "Subheading"
      },
      "default": {
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "en": "Newsletter placeholder text"
      },
      "default": {
        "en": "Email address"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "en": "Newsletter button text"
      },
      "default": {
        "en": "Notify me"
      }
    }
  ]
}
{% endschema %}
